<?xml version="1.0"?>
<launch>
    <arg name="nao_ip" default="192.168.90.156"/>
    <arg name="shm_id" default="imu"/>
    <arg name="topic" default="imu0" />
    <!-- <arg name="frame" default="imu_link" /> -->
    <arg name="frame" default="world" />


    <!-- Launch node on ros end to publish image from shared memory -in shared memory -->
    <node pkg="rosnao_bridge" type="imu_relay" name="imu_relay" output="screen" args="$(arg shm_id) $(arg topic) $(arg frame)" required="true"/>
    <!-- Interface with sdk, launches proxy in nao, and pubilsh the imu data into topic -->
    <node pkg="rosnao_bridge" type="imu_relay.sh" name="imu_relay_sdk" output="screen" args="$(arg nao_ip) $(arg shm_id)" required="true"/>
</launch>